/* General Header Styles */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
    background-color: #000000;
    color: #EB4C6B;
    font-size: 0.8rem;
}

header span {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    header span {
        font-size: 0.9rem;
        gap: 8px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 12px 0;
        font-size: 0.7rem;
    }

    header span {
        gap: 6px;
    }

    .d-none {
        display: none;
    }
}