/* General Styles */
.footer {
    background-color: black;
    color: #FFFFFF;
    padding: 50px 48px 10px 6%;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
}

.footer-top-left,
.footer-top-right {
    width: 100%;
}

.footer-top-left {
    width: 60%;
    padding-right: 11%;
}

.footer-top-right {
    width: 40%;
}

.input-box {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-box input {
    width: 100%;
    height: 48px;
    color: #717171;
    font-size: 18px;
}

.input-box input:focus {
    outline: none;
}

.input-box button {
    width: 184px;
    height: 48px;
    font-size: 16px;
    border: 0.14px solid #464646;
    color: #535252;
    border-radius: 4px;
    background-color: transparent;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.logo-container span {
    font-size: 1rem;
    font-weight: 500;
}

.dot {
    font-size: 24px;
}

.usLogo {
    height: 24px;
    width: 24px;
}

hr {
    height: 0.14px;
    background-color: #FFFFFF;
    border: none;
}

/* Footer Sections */
.contact-lg,
.contact-sm {
    margin-bottom: 0;
}

.contact-lg h3,
.footer-top-left h3 {
    margin-bottom: 20px;
}

.contact-lg p,
.footer-top-left p {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 200;
}

.footer-top-right p {
    font-size: 15px;
    color: #FFFFFF;
}

.currency {
    padding: 30px 0 25px 0;
}

.currency p:last-child {
    padding-top: 18px;
    font-size: 0.8rem;
    line-height: 20px;
}

.footer-bottom {
    padding-top: 50px;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col > h3 {
    font-size: 24.71px;
    font-weight: 700;
}

.col > span,
.col a {
    font-size: 0.9rem;
    color: #dddddd;
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.social-media img {
    width: 32px;
    height: 32px;
}

.payment {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.footer > p:last-child {
    color: #dddddd;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 35px;
}

.footer-row-select-logo {
    display: flex;
    gap: 5px;
}

.footer-row-select-logo img {
    height: 32px;
    width: 32px;
}

.sm-payment-section {
    padding: 50px 0 10px 0;
}

.sm-footer-bottom {
    display: none;
}

/* Responsive Styles */
@media screen and (min-width: 880px) and (max-width: 1060px) {
    .footer-bottom {
        padding-right: 0;
    }
}

@media screen and (max-width: 880px) {
    .footer {
        padding: 50px 5% 10px 5%;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .footer-top-left {
        width: 100%;
        padding-right: 0;
        padding-bottom: 25px;
        border-bottom: 2px solid #FFFFFF;
    }

    .sm-text {
        display: block;
        line-height: 20px;
        font-size: 1rem;
    }

    .lg-text {
        display: none;
    }

    .input-box {
        margin-top: 22px;
        gap: 10px;
    }

    .footer-top-right {
        width: 100%;
        padding-top: 25px;
    }

    .contact-lg {
        display: none;
    }

    .contact-sm {
        display: block;
        border-bottom: 1px solid #FFFFFF;
    }

    .details {
        padding: 20px 0 25px 0;
        display: flex;
        gap: 9px;
        align-items: center;
    }

    .details > p, .details > span {
        margin: 0;
        padding: 0;
    }

    hr {
        height: 2px;
        background-color: #FFFFFF;
    }

    .lg-footer-bottom {
        display: none;
    }

    .sm-footer-bottom {
        display: block;
    }

    .payment {
        margin-top: 25px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 427px) {
    .footer {
        padding: 50px 2% 10px 2%;
    }

    .footer-top-left .sm-text {
        font-size: 0.9rem;
    }

    .details > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 352px) {
    .details {
        gap: 3px;
    }

    .input-box {
        gap: 10px;
    }
}

@media screen and (max-width: 338px) {
    .details > p {
        font-size: 12px;
    }
}